html, #root {
    background-color: #333;
    color: #DDD;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
}

h2 {
    margin: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight: bold;
}

.button {
    margin: 3px !important;
    padding: 10px !important;
    text-align: center !important;
    background-color: #222 !important;
    color: #DDD !important;
    border: none !important;
    line-height: 50%;
    border-radius: 7px !important;
}

.button:hover {
    background-color: #555 !important;
    color: #FFF !important;
}

.button:disabled {
    opacity: 0.5;
}

::file-selector-button {
  display: none;
}

.button-container {
    padding: 1%;
}

.navbar-nav .nav-link {
    display: inline-block;
}

.navbar-nav .nav-link:hover {
     background-color: #666;
     color: #FFF;
 }

body {
    padding-top: 20px;
}

a, a:link, a:visited, a:active {
    float: left;
    padding: 4px;
    margin: 2px;
    text-decoration: none;
    color: #DDD;
}

#homePageGreeting {
    margin: auto;
    margin-top: 7%;
    margin-bottom: 6%;
    width: 20%;
    text-align: center;
    font-size: 130%;
}

#homeButtons {
    width: 50%;
    margin: auto;
}

#homeButtons .col .row .button.main, .dropdown-toggle {
    width: 100%;
    margin: 3px !important;
    padding: 3% !important;
}

.custom-dropdown {
    margin: 0px !important;
    padding: 0px !important;
}

#home {
    width: 100%;
    margin: 3px;
    background-color: #222;
    text-align: center;
}

#err {
    margin-top: 5%;
    margin-left: 5%;
}

#settingsForm {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

.dropdown-menu {
    padding: 0 !important;
    min-height: 50%;
    min-width: 20%;
    background-color: #444 !important;
    color: #DDD #important;
}

.dropdown-item {
    width: 96% !important;
    padding: 20px !important;
}

.custom-dropdown .dropdown-toggle:focus,
.custom-dropdown .dropdown-toggle:active {
    background-color: #222 !important;
    color: #DDD !important;
    border: none !important;
}

.scrollList {
    list-style-type: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.scrollList li {
    display: flex;
    align-items: center;
    padding: 5px;
}

.scrollList li * {
    padding: 7px;
    margin-left: 0;
    margin-right: 0;
}

.scrollList li:nth-child(2) {
    background-color: #CCC;
}

.check {
    margin: auto;
}

.courseInfo {
    margin: auto;
}

.fc-event-title {
    white-space: normal !important;
    overflow: visible !important;
}

.fc-event {
    height: auto !important;
    padding: 0px !important;
}

#addCourseForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #222;
}

.searchBar {
    width: 79% !important;
    padding: 5px !important;
    margin-left: 1%;
}

.filterButton {
    width: 18% !important;
    margin: 1% !important;
    background-color: #333 !important;
}

.filterForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    background-color: #222;
    padding: 1%;
    position: relative;
}

.daysFilter {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    padding-top: 1%;
    border-top: 1px solid #444;
}

.form-check {
    margin: auto !important;
}

.filterForm *:nth-child(n+3) {
    margin-top: 1%;
}

.filterGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-contents: center;
}

.filterGroup .form-label {
    margin: auto;
}
.fullWidthTable {
    width: 100%;
    border-collapse: collapse;
}

.fullWidthTable th, .fullWidthTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.fullWidthTable th {
    background-color: #222;
    font-width: bold;
    text-align: center;
}

.fullWidthTable tr:nth-child(2n) {
    background-color: #444;
}

.fullWidthTable tr:nth-child(2n+1) {
    background-color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination span {
    margin: 0 10px;
}

.addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.createTimeBlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #222 !important;
    border: 1px black !important;
}

.viewCourseButton {
    position: fixed;
    bottom: 20px;
}

.viewCourseButton:hover {
    background-color: #555 !important;
}

.buttonButton {
    left: 20px;
}

.linkButton {
    right: 20px;
    border-radius: 7px;
}

.fc-timegrid-slot-label-cushion {
    color: #BBB !important;
}

table .fc-col-header .fc-col-header-cell, table colgroup {
    background-color: #111;
}

.fc-col-header-cell-cushion {
    float: left;
    padding: 4px;
    margin: 2px;
    text-decoration: none;
    color: #999;
}

.fc-scrollgrid-section-body {
    background-color: #444;
}

.highlighted-row {
    color: #111 !important;
}

.fullWidthTable tr.highlighted-row:nth-child(2n) {
    background-color: #77D !important;
}

.fullWidthTable tr.highlighted-row:nth-child(2n+1) {
    background-color: #99D !important;
}