.navbar-nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
}

.navbar-nav .nav-link {
    display: inline-block;
}

.navbar-nav .nav-link:hover {
     background-color: #666;
     color: #FFF;
 }

body {
    padding-top: 20px;
}

a, a:link, a:visited, a:active {
    float: left;
    padding: 4px;
    margin: 2px;
    text-decoration: none;
    color: #DDD;
}

#homePageGreeting {
    margin: auto;
    margin-top: 7%;
    margin-bottom: 6%;
    width: 20%;
    text-align: center;
    font-size: 130%;
}

#homeButtons {
    width: 50%;
    margin: auto;
}

#homeButtons .col .row a, .custom-dropdown, .dropdown-toggle {
    width: 100%;
    margin: 3px;
    padding: 10px;
    text-align: center;
    background-color: #333 !important;
    color: #DDD;
    border: none !important;
}

#homeButtons .col .row a:hover,
.custom-dropdown:hover,
.custom-dropdown:hover .dropdown-toggle,
.custom-dropdown:hover .dropdown-toggle:active,
.custom-dropdown:hover .dropdown-toggle:focus {
    color: #FFF !important;
    background-color: #555 !important;
}

#home {
    width: 100%;
    margin: 3px;
    background-color: #333;
    text-align: center;
}

#err {
    margin-top: 5%;
    margin-left: 5%;
}

#settingsForm {
    margin-top: 5%;
    margin-left: 5%;
}

.dropdown-toggle {
    padding: 0 !important;
    color: #DDD !important;
}

.dropdown-toggle:hover {
    color: #FFF !important;
}

.dropdown-menu {
    padding: 0 !important;
    background-color: #222 !important;
    color: #DDD #important;
}

.dropdown-item {
    width: 96% !important;
    margin: 2% !important;
}

.dropdown-item:hover {
    background-color: #555 !important;
    color: #FFF !important;
}

.custom-dropdown .dropdown-toggle:focus,
.custom-dropdown .dropdown-toggle:active {
    background-color: #333 !important;
    color: #DDD !important;
    border: none !important;
}
