nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

a, a:link, a:visited, a:active {
    float: left;
    padding: 4px;
    margin: 2px;
    text-decoration: none;
    color: #DDD;
}

a:hover {
    color: #BBB;
}

#homePageGreeting {
    margin: auto;
    margin-top: 7%;
    margin-bottom: 6%;
    width: 20%;
    text-align: center;
    font-size: 130%;
}

#homeButtons {
    width: 50%;
    margin: auto;
}

#homeButtons .col .row a {
    width: 100%;
    margin: 3px;
    background-color: #333;
    text-align: center;
}

#err {
    margin-top: 5%;
    margin-left: 5%;
}

#settingsForm {
    margin-top: 5%;
    margin-left: 5%;
}